<!DOCTYPE html>
<html lang="en" class="page--login">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/general.css"/>
    <title>Forget Password - TankWar Lab</title>
</head>
<body>
<nav class="nav">
    <div class="row">
        <div class="column nav__container">
            <ol class="nav__container-item">
                <li>
                    <a href="/" class="nav__logo">TankWarJudge</a>
                </li>
                <li>
                    <a href="/" class="nav__item">Scoreboard</a>
                </li>
                <li>
                    <a href="/submission" class="nav__item">Submission</a>
                </li>
                <li>
                    <a href="/match" class="nav__item">Match</a>
                </li>
                <li>
                    <a href="/rules" class="nav__item">Rules</a>
                </li>
            </ol>
        </div>
    </div>
</nav>
<div class="slideout-panel" id="panel">
    <div class="main">
        <div class="row">
            <div class="columns">
                <div class="section">
                    <div class="section__header">
                        <h1 class="section__title">
                            <span class="icon icon-warning text-red"></span>
                            Student Login
                        </h1>
                    </div>
                    <div class="section__body">
                        <% if (status.success) {%>
                        <div class="typo">
                            <blockquote class="success">
                                Your code is <%= token %>.
                            </blockquote>
                        </div>
                        <% } else if (status.nouser) {%>
                        <div class="typo">
                            <blockquote class="error">
                                User doesn't exist.
                            </blockquote>
                        </div>
                        <% } %>
                        <form method="post" action="/forgetPassword">
                            <div class="row">
                                <div class="medium-5 columns">
                                    <label>Login ID</label>
                                    <input type="text" name="studentId" class="textbox" required="">
                                    <p class="help-text">Write your login ID here and we will generate a code for you. Give the code to your TA and they could set your password to the password you specified.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-5 columns">
                                    <label>Password</label>
                                    <input type="password" name="password" class="textbox" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-5 columns">
                                    <input type="hidden" name="_csrf" value="<%= CSRF %>">
                                    <button class="primary rounded button" type="submit">Generate Code</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>
<script src="/js/jsUtils/jsUtils.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
